<!-- @format -->
<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css" />
  </head>

  <body>
    <%- include('../includes/navigation.ejs') %>
    <main>
      <p>List of all the products in system.</p>
      <% if(prods.length > 0){ %>
      <div class="grid">
        <% for(let product of prods){ %>
        <article class="card product-item">
          <header class="card__header">
            <h1 class="product__title"><%=product.title%></h1>
          </header>
          <div class="card__image">
            <img
              src="<%=product.imageURL%>"
              alt="<%=product.title%>"
            />
          </div>
          <div class="card__content">
            <h2 class="product__price">$<%=product.price%></h2>
            <p class="product__description"><%=product.description%></p>
          </div>
          <div class="card__actions">
              <form action="/admin/delete-product" method="post">
                  <input type="hidden" value="<%= product.id %>" name="productId">  
                  <button class="btn">Delete</button>
                </form>
            <a href="/admin/edit-product/<%=product.id %>?edit=true" class="btn">Edit</a>
          </div>
        </article>
        <% }%>
      </div>
      <% }else{ %>
      <h1>No product here</h1>
      <% } %>
    </main>
  <%- include('../includes/end.ejs') %>