extends layout/main-layout.pug 

block styles 
    link(rel="stylesheet", href="/css/product.css")
    link(rel="stylesheet", href="/css/forms.css")
block content
    main
        form.product-form(action="/admin/add-product",method="POST")
            div.form-control
                    label(for="title") Title
                    input(type="text",name="title")#title
            button.btn(type="submit") Add Product
